

<ion-content>
  <img src="/assets/logos/smartmetric-original.png">

  
  
    <div> <img class="header"src="/assets/icons/login.png" alt="" >    Iniciar sesión     </div>  
   
    <div> 
      
      <ion-label>Ingresar usuario</ion-label>
      <ion-input placeholder="Usuario"></ion-input>
      <ion-label>Ingresar contraseña</ion-label>

      <ion-input type="password" placeholder="Contraseña"></ion-input>

      <ion-button [routerLink]="['/pendientes']" color="primary" size="large">Inciar sesión</ion-button>


    </div>

</ion-content>
